/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ heart__icon — для кнопки, оборачивающей иконку
✦ heart__icon — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  from {
    translate: -1.25rem 0;
  }
  to {
    translate: -1.5rem 0;
  }
}
  
.contour {
  fill: var(--color-contour);
  transition: fill 0.3s ease;
  transition-delay: 0.06s;
}

.main__body {
  fill: var(--themes-accent-color);
  opacity: 0;
  transition: opacity 0.3s ease, fill 0.3s ease;
}

.core {
  fill: var(--themes-accent-color);
  opacity: 0;
  transition: opacity 0.3s ease, fill 0.3s ease;
  transition-delay: 0.03s;
}

.sparks {
  fill: var(--color-heart);
  opacity: 0;
}

@keyframes sparks-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 
.card__icon-button:focus .heart__icon .main__body {
  opacity: 1;
  fill: var(--themes-accent-color);
  transition: opacity 0.3s ease, fill 0.3s ease;
  transition-delay: 0.05s;
}

.card__icon-button:focus .heart__icon .core {
  opacity: 1;
  fill: var(--themes-accent-color);
  transition: opacity 0.3s ease, fill 0.3s ease;
}
*/

.heart__icon:hover .main__body {
  opacity: 1;
  fill: var(--themes-accent-color);
  transition: opacity 0.3s ease, fill 0.3s ease;
  transition-delay: 0.05s;
}

.heart__icon:hover .core {
  opacity: 1;
  fill: var(--themes-accent-color);
  transition: opacity 0.3s ease, fill 0.3s ease;
}

.heart__icon:active .main__body {
  opacity: 1;
  fill: var(--color-heart);
  transition: opacity 0.3s ease, fill 0.3s ease;
  transition-delay: 0.05s;
}

.heart__icon:active .core {
  opacity: 1;
  fill: var(--color-heart);
  transition: opacity 0.3s ease, fill 0.3s ease;
}

.like-icon.is-liked .main__body {
  opacity: 1;
  fill: var(--color-heart);
  transition: opacity 0.3s ease, fill 0.3s ease;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--color-heart);
  transition: opacity 0.3s ease, fill 0.3s ease;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart);
  transition: fill 0.1s ease;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks-appear 0.3s alternate ease-in;
  animation-delay: 0.3s;
}