/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--themes-background);
  color: var(--themes-accent-color);
  font-variation-settings: 'wght' var(--font-weight-text);
  background-image: var(--background-image);
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 2px solid var(--themes-accent-color);
  padding-top: 7rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--themes-background);
  margin: auto;
  margin-top: 100px;
  padding-bottom: 25px;
}

.header__title {
  font-variation-settings: 'wght' var(--font-weight-title);
  font-family: var(--font-family-press-start-2p);
  font-size: clamp(49px, 14vw, 65px);
  font-style: normal;
  font-weight: var(--font-weight-text);
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 22px;
}

.header__title:focus-visible {
  outline: none;
}

.header__text {
  font-family: var(--font-family-press-start-2p);
  color: var(--themes-accent-color, #000);
  font-size: clamp(14px, 4vw, 23px);
  font-style: normal;
  font-weight: var(--font-weight-text);
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.header__theme-menu {
  font-family: var(--font-family-press-start-2p);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-text);
  line-height: normal;
  text-transform: uppercase;
}

.main {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
  border: 2px solid var(--themes-accent-color);
  background-color: var(--themes-background);
}

.card__title {
  font-family: var( --font-family-inter);
  font-size: 18px;
  font-style: normal;
  font-variation-settings: 'wght' var(--font-weight-title);
  line-height: normal;
  display: flex;
  align-self: start;
  padding: 4px 4px 4px 10px;
}

.card__text {
  display: flex;
  color: var(--themes-accent-color);
  font-family: var(--font-family-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-weight-text);
  line-height: 21px; /* 116.667% */
  padding: 0 25px 25px 25px;
}

.card__image {
  max-width: 100%;
  object-fit: fill;
  position: relative;
  aspect-ratio: 1;
  border-top: 2px solid var(--themes-accent-color);
  border-bottom: 2px solid var(--themes-accent-color);
  margin-bottom: 25px;
}

.card__image-wrapper {
  position: relative;
}

.card__image-label {
    position: absolute;
    z-index: 3;
    top: 0.1rem;
    right: 10px;
    margin-top: 30px;
    margin-right: 15px;
    font-family: var(--font-family-press-start-2p);
    font-size: 12.7px;
    text-transform: uppercase;
    color: var(--themes-accent-color);
    text-shadow: -1px 0 var(--themes-background), 0 1px var(--themes-background), 1px 0 var(--themes-background), 0 -1px var(--themes-background);
    opacity: 0.5;
    mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--themes-background)) or (-webkit-text-stroke: 1px var(--themes-background))) {
  .card__image-label {
      -webkit-text-stroke: 1px var(--themes-background);
      text-stroke: 1px var(--themes-background);
      text-shadow: none;
  }
}

.card__icon-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--themes-background);
  padding: 0;
  border: 2px solid transparent;
  margin-right: 4px;
  transition: border-color 0.3s ease;
}

.card__like-button {
  min-width: 130px;
  transition: box-shadow 0.3s ease;
}

.card__buttons-wrapper {
  display: flex;
  align-self: end;
  padding-right: 25px;
  padding-bottom: 25px;
}

.card__save-button {
  color: var(--themes-accent-color);
  margin: auto;
  margin-bottom: 7rem;
  margin-top: 2rem;
  min-width: clamp(306px, calc(100vw - 60px), 339px);
  padding: 15px 20px;
  gap: 8px;
}

.dialog__button {
  padding: 10px 37px;
  min-width: 100%;
  text-transform: uppercase;
}

.card__save-button > svg {
  fill: var(--color-hover);
  width: 21px;
  height: 21px;
  display: block;
  mix-blend-mode: difference;
  z-index: 2;
}

.animated-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-accent-color);
  font-size: 14px;
  font-family: var(--font-family-press-start-2p);
  font-style: normal;
  line-height: 90%; /* 12.6px */
  cursor: pointer;
}

.animated-button span {
  position: relative;
  z-index: 2;
  color: var(--color-hover);
  mix-blend-mode: difference;
}

.animated-button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--themes-accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.animated-button:hover::after {
  transform: scaleX(1);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  margin-left: 20px;
  transition: opacity 0.3s ease;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding: 0;
  padding-bottom: 2px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: arrow 0.5s infinite alternate ease-in-out;
} 

.theme-menu__button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  min-width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: var(--themes-accent-color);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible,
.card__icon-button:focus-visible {
  outline: none;
}

.animated-button:focus-visible {
  outline: none;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0px 0px var(--color-contour);
}

.heart__icon {
  fill: var(--themes-accent-color);
}

.dialog__open {
  display: none;
  color: var(--themes-accent-color);
  position: fixed;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-accent-color);
  padding: 30px;
  margin: auto;
  max-width: clamp(341px, calc(100vw - 40px), 357px);
}

.dialog__open[open] {
  display: flex;
}

.dialog__open::backdrop {
  background-color: rgba(0, 0, 0, .75);
}

.dialog__title {
  font-family: var(--font-family-press-start-2p);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-text);
  line-height: 150%; /* 21px */
  text-transform: uppercase;
 }

.dialog__title-wrapper {
  display: flex;
  padding-top: 0;
  padding-bottom: 20px;
}

.dialog__open svg {
  fill: var(--themes-accent-color);
  min-width: 39px;
  max-width: 39px;
  margin-right: 20px;
  display: block;
}

.filter__saturate-brightness {
  filter: saturate(4) brightness(2);
}

.filter__sepia-saturate-brightness {
  filter: sepia(0.4) saturate(2) brightness(1.2);
}

.filter__brightness-invert {
  filter: brightness(1.1) invert(1);
}

.filter__contrast-invert {
  filter: contrast(0.8) invert(1);
}

.filter__grayscale {
  filter: grayscale(0.7);
}

.filter__invert-blur {
  filter: invert(1) blur(3px);
}

.filter__hue-rotate {
  filter: hue-rotate(-50deg);
}

.filter__brightness-saturate-opacity {
  filter: brightness(1.1) saturate(2) opacity(60%);
}

.card__icon-button:focus {
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-contour);
}

@media (width <= 375px) {
  .card__save-button {
    flex-direction: column;
  }

  .card__save-button > svg {
    width: 28px;
    height: 28px;
  }
}